<!DOCTYPE html>
<html ng-app="campus360">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>College Dashboard</title>
</head>

<body ng-controller="dashboardcontroller">

    <input type="text" ng-model="collegename">
    <h1>{{collegename}}</h1>

    <input type="number" ng-model="totalstudents">
    <button ng-click="totalstudents = totalstudents + 1">
        Add Student
    </button>

    <p ng-class="{
        'green': totalstudents >= 1000,
        'red': totalstudents < 1000
    }">
        Total Students : {{totalstudents}}
    </p>

    <input type="number" ng-model="totalfaculty">
    <button ng-click="totalfaculty = totalfaculty + 1">
        Add Faculty
    </button>

    <p ng-style="{
            'color' : totalfaculty >= 100 ? 'green' : 'red',
            'font-size' : '25px',
            'font-weight' : 'bold'
    }">
        Total Faculty : {{totalfaculty}}</p>

    <h2>Student List</h2>

    <button ng-click="showstudents = !showstudents">
        Show/Hide Students
    </button>

    <div ng-if="showDashboard">
        <ul ng-show="showstudents">
            <li ng-repeat="student in students">
                {{student}}
            </li>
        </ul>
    </div>

</body>

</html>